body {
  background-color: #333333;
  color: #FFFFFF; /* Pour que le texte soit lisible sur le fond noir */
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px; /* Adjust as necessary */
  margin: 0 auto;
  padding: 0 20px;
}
